*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141519;
}
.rating-state{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #1F2630;
}
h4,.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
/* .numbers{
    color: #7C8590;
    font-family: Inter;
    font-size: 17.502px;
    font-style: normal;
    font-weight: 600;
    line-height: 35.004px; /* 200% */
    /* letter-spacing: 0.7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 8px;
    flex-shrink: 0;
    border-radius: 109.389px;
    background: #262F36;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
} */ */

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #262F36;
    color: #7C8590;
    font-family: Inter;
    font-size: 17.502px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.button{
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-weight: 600;
    border-radius: 40px;
    background: #F98027;
}

.button:hover {
    background-color: #ffffff;
    color:#F98027;
}
      
